# Node & Logs
node_modules/
npm-debug.log
yarn-error.log

# Logs and databases
*.log
*.sql
*.sqlite

# Operating Systems
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Confidential data or environment configs
.env
.secret